{% extends "base.html" %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col">
            <h3>Password Reset</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus repudiandae sed sint eius alias
                maiores minima a numquam eum deleniti maxime similique saepe, magni excepturi dolorem, quo debitis
                blanditiis perspiciatis!
            </p>
        </div>
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}