{% extends "base.html" %}
{% load static %}
{% block content %}





<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="card">
      <div class="rounded-top text-white d-flex flex-row" style="background-color: #f8f9fa; height:200px;">
        <div class="ms-5 mt-4 d-flex flex-column">
          <a href="#"> <img src="{{user_detail.profilemodel.photo.url}}" class="rounded-circle" width="118" height="118"
              style="object-fit: cover; "> </a>


        </div>
        <div class="ms-3" style="margin-top: 50px;">
          <h1 style="color: black;">{{user_detail.username}}</h1>
          <p style="color: black;">{{user_detail.profilemodel.location}}</p>
        </div>
      </div>

    </div>





  </div>
  </div>

  <div class="container py-1">

    <h3>Published Ads</h3>

    <div class="row">
      {% for product in products %}


      <div class="col-md-3">
        <a style=" color: inherit;" href="{% url 'products:product_details' product.id %}">
          <div class="card my-2" style="border:1px solid rgb(149, 143, 143);">

            <img onclick="" style="  height: 200px;
                object-fit: cover; padding: 15px;" src="{{product.image.url}}" alt="...">


            <div class="card-body">
              <h4>₹ {{product.price}}</h4>
              <h6>{{product.product_name}}</h6>
              <div class="d-flex justify-content-between">
                <p class="mb-0"></p>
                <p class="text-dark mb-0">{{product.created_date}}</p>
              </div>
            </div>


          </div>
        </a>

      </div>

      {% empty %}
      <div class="card">
        <h5>NOTHING FOUND!!</h5>

      </div>
      {% endfor %}











    </div>

  </div>
</section>



</section>
{% endblock %}