{% extends "base.html" %}
{% load static %}
{% block content %}







<section style="background-color: #eee;">
    <div class="container py-5">
        <h1 class="d-flex justify-content-center mb-3">Your Ads</h1>

        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">

                            {% for product in products reversed %}

                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{product.image.url}}" style="  height: 150px;
                                    object-fit: cover; padding: 5px;" class="w-100" />
                                    <a href="{% url 'products:product_details' product.id %}">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>Posted on: {{product.created_date}}</h5>

                                <div class="mt-1 mb-0 text-muted small">
                                    <h5>{{product.product_name}}</h5>

                                </div>
                                <small>Description:</small>

                                <p style="    -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;">
                                    {{product.description}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">₹ {{product.price}}</h4>
                                </div>
                                <div class="d-flex flex-column mt-4">
                                    <a href="{% url 'products:products_update' product.id %}"
                                        class="btn btn-primary btn-sm" type="button">Edit</a>
                                    <a href="{% url 'products:products_delete' product.id %}"
                                        class="btn btn-outline-primary btn-sm mt-2" type="button">
                                        Delete
                                    </a>
                                </div>
                            </div>
                            <hr>



                            {% empty %}
                            <div class="d-flex justify-content-center mb-5">
                                <div class="col-md-2">
                                    <div class="card my-2">

                                        <div class="card-body">

                                            <h3>No Ad's yet
                                            </h3>
                                        </div>
                                        <a href="{% url 'products:products_create' %}"
                                            class="btn btn-outline-dark btn-sm m-1">Start
                                            selling</a>

                                    </div>

                                </div>

                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



{% endblock %}