{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}

                            <table>
                                {{ form.as_table }}
                            </table>


                            <!-- Button trigger modal -->
                            <button type="submit" class="btn btn-primary"
                                >
                                Post Add
                            </button>                
<!-- 
                            <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static"
                                data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">You need to pay Rs 5 to
                                                post a add </h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                To pay click on pay and you will be redirected to a pyment page <br>
                                                if you dont want to make pyment close

                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-mdb-dismiss="modal">Close</button>
                                            <button type="button" id="pay-btn" class="btn btn-primary">Proceed To pay</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}








                          <!-- <div class="form-group m-3">
                    <label>Select a category</label>
                    <select name="category" class="form-control">
                        <option value="none">Select a Category...</option>

                        <option value="Cars" ></option>
                    </select>    
                </div>

                <div class="form-group m-3">
                    <label >product name</label>
                    <input name="product_name" type="text" placeholder="Enter product name" 
                         class="form-control">
                </div>

                <div class="form-group m-3">
                    <label >price</label>
                    <input required name="price"  placeholder="Enter a price"
                         class="form-control">
                </div>

                <div class="form-group m-3">
                    <label >description</label>
                    <input name="description" type="text" placeholder="Enter product discription" 
                         class="form-control">
                </div>


                <div class="form-group m-3">
                    <label>Upload product image</label>
                    <input required name="image" type="file" class="form-control-file">
                </div>

                <button type="submit" class="btn btn-primary m-3" >submit</button> -->